{% extends 'main/base.html' %}

{% block title %}{{ category.name}} - Amazon{% endblock %}

{% block content %}

    <span style="font-size: 36px;">👈&nbsp;</span> <a href="{% url 'main:index' %}">На главную</a>

    <h2>Категория: {{ category.name }}</h2>

    <form method="GET" action="{% url 'main:category_detail' category.id %}">
        <input type="text" name="q" placeholder="Поиск товаров в данной категории" value="{{ q }}">
        <button type="submit">Найти</button>
    </form>
    <br>
    <br>

    {% if expensive %}
        <li>
            <p>Самое дорогое приложение в этой категории:</p>
                <strong><a href="{% url 'main:product_detail' expensive.id expensive.name%}"></a>{{ expensive.name }}</strong> -
                Цена: {{ expensive.price }} $
        </li>
    {% endif %}

    <br>
    <br>

    <p>
        Сортировка:&nbsp;&nbsp;&nbsp;
        <a href="?sort=price">Сначала дешёвые</a>|&nbsp;&nbsp;&nbsp;
        <a href="?sort=-price">Сначала дорогие</a>
    </p>

    <ul>
    {% for product in page_obj %}
        <li>
            <strong><a href="{% url 'main:product_detail' product.id product.name %}">{{ product.name }}</a></strong> -
            {% if product.price == 0 %}Бесплатно{% else %}{{ product.price }} ${% endif %}
        </li>
    {% empty %}
        <li>В этой категории приложений пока нет.</li>
    {% endfor %}
    </ul>

    <p>
        {% if page_obj.has_previous %}
        <span style="font-size: 36px;">👈&nbsp;</span> <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}

        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
        &nbsp;&nbsp;<a href="?page={{ page_obj.next_page_number }}">Вперёд</a><span style="font-size: 36px;">👉</span>
        {% endif %}
    </p>

    <p>Всего в категории {{ products|length }} товаров.</p>
{% endblock %}