{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
     <span style="font-size: 36px;">👈</span> <a href="{% url 'main:index' %}">На главную</a>

    <h2>Бесплатные товары</h2>

    <ul>
    {% for product in products %}
        <li>
            {% if product.icon %}
                <img src="{{ product.icon.url }}" alt="{{ product.name }}" class="product-icon-sm">
            {% else %}
                <img src="{% static 'main/images/placeholder.png' %}" alt="Нет изображения" class="product-icon-sm">
            {% endif %}
            <br>
            <strong><a href="{% url 'main:product_detail' product.id product.name%}">{{ product.name }}</a></strong> –
                Цена: {{ product.price }} $
            <br>
        </li>
    {% empty %}
        <li>Товаров пока нет.</li>
    {% endfor %}
    </ul>

    <p>Всего товаров: {{ products|length }}</p>

    {% include 'main/includes/recently_viewed.html' %}

{% endblock %}