{% extends 'main/base.html' %}

{% block title %}Главная страница - Amazon{% endblock %}

{% block content %}
    <h1>Добро пожаловать в наш магазин!</h1>
    <h2>Наши продукты:</h2>

    <ul>
        {% for product in products %}
        <li><strong>{{ product.name }}</strong> ({{ product.category }})<br>

            {{ product.description|truncatechars:60 }}<br>

            {% if product.price == 0 %}
                Этот продукт бесплатный<br>
                Добавлено: {{ product.created_at | date:"d.m.Y" }}
                <br><br>
            {% else %}
                Цена: {{ product.price }}$<br>
                Рейтинг: {{ product.rating }}★<br>
                Продавец: {{ product.seller }}<br>
                Добавлено: {{ product.created_at | date:"d.m.Y" }}
                <br><br>
            {% endif %}
        </li>

        {% empty %}
            <li>Нет доступных продуктов</li>
        {% endfor %}
    </ul>
{% endblock %}