{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{ title }} - Amazon{% endblock %}

{% block content %}

    {% if just_registered %}
        <h1>Добро пожаловать, {{ user.username }}! Ваша учетная запись создана!</h1>
    {%  elif coming_back%}
        <h1> C возвращением, {{ user.username }}!</h1>
    {% endif %}


    <h2>Продукт дня:</h2>
    <li>
        {% if daily_product.icon %}
            <img src="{{ daily_product.icon.url }}" alt="{{ daily_product.name }}" class="product-icon-sm">
        {% else %}
            <img src="{% static 'main/images/placeholder.png' %}" alt="Нет изображения" class="product-icon-sm">
        {% endif %}
        <br>
        <strong><a href="{% url 'main:product_detail' daily_product.id daily_product.name%}">{{ daily_product.name }}</a></strong>
            ({{ daily_product.category }})<br>
            Цена: {{ daily_product.price }}$<br>
            Рейтинг: {{ daily_product.rating }}⭐️
    </li>



    <h2>{{ title }}</h2>

    <p>
    Сортировка:
        &nbsp;&nbsp;&nbsp;
    <a href="?sort=new">Новые</a>|
        &nbsp;&nbsp;
    <a href="?sort=name">По названию</a>

    {% if not is_free %}
        |&nbsp;&nbsp;
        <a href="?sort=price">Сначала дешёвые</a>
        |&nbsp;&nbsp;&nbsp;
        <a href="?sort=-price">Сначала дорогие</a>
    {% endif %}
</p>

    <ul>
        {% for product in page_obj %}
        <li>
            {% if product.icon %}
            <img src="{{ product.icon.url }}" alt="{{ product.name }}" class="product-icon-sm">
        {% else %}
            <img src="{% static 'main/images/placeholder.png' %}" alt="Нет изображения" class="product-icon-sm">
        {% endif %}
        <br>
            <strong><a href="{% url 'main:product_detail' product.id product.name%}">{{ product.name }}</a></strong> ({{ product.category }})<br>

            {{ product.description|truncatechars:60 }}<br>

            {% if product.price == 0 %}
                Этот продукт бесплатный<br>
                Добавлено: {{ product.created_at | date:"d.m.Y" }}
                <br><br>
            {% else %}
                Цена: {{ product.price }}$<br>
                Средняя оценка: {% include 'main/includes/product_rating.html' with average_rating=product.average_rating %}<br>
                Продавец: {{ product.seller }}
                <br>
                Автор:
                {% if product.author %}
                    <a href="{% url 'main:author_detail' product.author.id %}">{{ product.author.username }}</a>
                {% else %}
                    Не указан
                {% endif %}
                <br>
                Добавлено: {{ product.created_at | date:"d.m.Y" }}
                <br><br>
            {% endif %}
        </li>

        {% empty %}
            <li>Нет доступных продуктов</li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
    <p>
        {% if page_obj.has_previous %}
            <span style="font-size: 36px;">👈&nbsp;</span>
            <a href="?page={{ page_obj.previous_page_number }}&q={{ q }}&sort={{ sort }}">
                Назад
            </a>
        {% endif %}

        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            &nbsp;&nbsp;
            <a href="?page={{ page_obj.next_page_number }}&q={{ q }}&sort={{ sort }}">
                Вперёд
            </a>
            <span style="font-size: 36px;">👉</span>
        {% endif %}
    </p>
{% endif %}

    <p>Всего товаров: {{ page_obj.paginator.count }}</p>

{% endblock %}