{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{ title }} Новый пароль - Amazon{% endblock %}

{% block content %}

    <h1 style="text-align: center">Новый пароль</h1>

    {% if validlink %}
        <p>Задайте новый пароль. Старый перестанет действовать</p>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="width: 200px; margin-left: 19%">Сохранить пароль</button>
        </form>
    {% else %}
        <p>Ссылка либо не верна, либо была использована ранее.</p>
        <p>Повторите попытку.</p>

        <button type="button"
            style="width: 250px"
            onclick="window.location.href='{% url 'main:password_reset' %}'">
            Запросить письмо еще раз
        </button>
    {% endif %}
    <br>

{% endblock %}