{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{ title }} Сброс пароля - Amazon{% endblock %}

{% block content %}

    <h1 style="text-align: center">Сброс пароля</h1>

    <p style="text-align: center">Укажите почту, используемую при регистрации</p>

    <br>

    <form style="text-align: center" method="post" action="{% url 'main:password_reset' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="width: 200px;">Отправить ссылку</button>
    </form>

    <br>

{% endblock %}