{% extends 'main/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
     <p>
    <a href="{% url 'index' %}">Главная</a>
    →

    {% if product.category %}
        <a href="{% url 'category_detail' product.category.id %}">
            {{ product.category }}
        </a>
        →
    {% endif %}

    {{ product.name }}
</p>

    <br>
    <br>
    <hr>

    <h2>{{ product.name }}</h2>


    <p>Категория:
        {% if product.category %}
             <a href="{% url 'category_detail' product.category.id %}">{{ product.category }}</a>
        {% else %}
            Без категории
        {% endif %}
    </p>

    <p>
        {% if product.price == 0 %}
                <strong>Бесплатно</strong>
            {% else %}
                <strong>Цена: {{ product.price }} $</strong>
            {% endif %}
    </p>

    {% if product.description %}
        <p>Описание: {{ product.description }}</p>
    {% else %}
        <p>Описание пока не добавлено</p>
    {% endif %}

    <p>Добавлено: {{ product.created_at|date:"d.m.Y H:i" }}</p>

    <p>Продавец: {{ product.seller }}</p>

    <p>Рейтинг: {{ product.rating }} ⭐</p>

    <hr>
    <h3>Отзывы:</h3>

    {% for review in product.review_set.all %}
         <li>
            <div>
                <p><strong>{{ review.username }}</strong></p>
                <p>Оценка: {{ review.stars }}</p>
                <p>Комментарий: {{ review.comment }}</p>

                {% if review.recommended %}
                    <span style="font-size: 36px;">👍🏼</span><strong> Рекомендует</strong>
                {% else %}
                    <span style="font-size: 36px;">👎🏼</span><strong> Не рекомендует</strong>
                {% endif %}
            </div>
        </li>
        <hr>
        <p>Всего отзывов: {{ product.review_set.count }}</p>
    {% empty %}
        <p>Отзывов пока нет</p>
    {% endfor %}


{% endblock %}