{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{ title }} - Amazon{% endblock %}

{% block content %}

<h1 style="text-align: center">Профиль пользователя</h1>

    <h3><strong>Имя пользователя: </strong>{{ user.username }}</h3>

    <h3><strong>Email: </strong>{{ user.email }}</h3>

    <button type="button" onclick="window.location.href='{% url 'main:password_change' %}'" style="width: 150px">Изменить пароль</button>
            &nbsp;&nbsp;&nbsp;

    <h2 style="text-align: center">Мои товары</h2>

    {% for product in products %}
        <li>
            {% if product.icon %}
                <img src="{{ product.icon.url }}" alt="{{ product.name }}" class="product-icon-sm">
            {% else %}
                <img src="{% static 'main/images/placeholder.png' %}" alt="Нет изображения" class="product-icon-sm">
            {% endif %}
            <br>
            <a href="{% url 'main:product_detail' product.id product.name %}">{{ product.name }}</a><br>
            Категория:&nbsp; {{ product.category }}<br>
            Выставлено:&nbsp; {{ product.created_at|date:"d.m.Y H:i" }}<br>
            Цена:&nbsp; {{ product.price }}$<br>
            Продавец:&nbsp; {{ product.seller }}<br>
            Средний рейтинг:&nbsp; {% include 'main/includes/product_rating.html' with average_rating=product.average_rating %}<br><br>
            <button type="button" onclick="window.location.href='{% url 'main:edit_product' product.id %}'" style="width: 150px">Редактировать</button>
            &nbsp;&nbsp;&nbsp;
            {% if product.author_id == user.id %}
                <form method="post"
                      action="{% url 'main:delete_product' product.id %}"
                      style="display: inline;"
                      onsubmit="return confirm('Вы уверены, что хотите удалить этот товар?');">
                    {% csrf_token %}
                    <button type="submit" style="width: 150px">Удалить товар</button>
                </form>
            {% endif %}
        </li>
        <hr>
    {% empty %}
        <p>Товаров от вашего имени пока нет.</p>
        <hr>
    {% endfor %}
    <p>Всего товаров: {{ products.count }}</p>
    <br>
    <br>

    <h2 style="text-align: center">Мои отзывы</h2>

    {% for review in reviews %}
        <li>
            Товар:&nbsp;&nbsp;<a href="{% url 'main:product_detail' review.product.id review.product.name %}">{{ review.product.name }}</a><br>
            Ваша оценка:&nbsp;&nbsp;{{ review.stars }}<br>
            {% if review.comment %}
                Ваш комментарий:&nbsp;&nbsp;{{ review.comment }}
            {% endif %}
        </li>
        <hr>

    {% empty %}
        <p>Вы пока не оставляли отзывов.</p>
    {% endfor %}
    <hr>
    <p>Всего отзывов: {{ reviews.count }}</p>

{% endblock %}