{% extends 'main/base.html' %}

    {% block title %}Отзывы покупателей{% endblock %}

{% block content %}

    <span style="font-size: 36px;">👈</span> <a href="{% url 'main:index' %}"> На главную</a>

    <h1>Отзывы покупателей</h1>


<ul>
    {% for review in reviews %}
        <li>
            <strong>{{ review.username }}</strong><br>
            Продукт: <strong><a href="{% url 'main:product_detail' review.product.id review.product.name%}">{{ review.product.name }}</a></strong><br>
            Оценка: {{ review.stars }}<br>
            Отзыв:
                {% if review.comment %}
                    {{ review.comment }}
                {% else %}
                    Не был оставлен
                {% endif %} <br>
            Рекомендую:
                {% if review.recommended %}
                    Да
                {% else %}
                    Нет
                {% endif %}
            <br><br>
        </li>
    {% empty %}
        <li>Отзывов не найдено</li>
    {% endfor %}
</ul>

{% endblock %}




