<div class="categories-nav">
    <h2>Список категорий:</h2>
        <li>
            {% for category in categories %}
                    <a href="{% url 'main:category_detail' category.id %}"
                       {% if request.resolver_match.url_name == 'category_detail' and request.resolver_match.kwargs.category_id == category.id %}
                           class="active"
                       {% endif %}>
                        {{ category.name }}
                    </a>
                    ({{ category.product_count }}){% if not forloop.last %}, {% endif %}
                <br>
            {% empty %}
                <li>Нет доступных категорий</li>
            {% endfor %}
        </li>
    </div>